$wh: white;
$bl: black;
$rd: #EA2E34;
$ye: #FFCB45;
$gr: #93FF82;
$grr: #777777;
$grt: #808080;
$grm: #E3E3E3;
$rdy: #302C2C;
$prp: #FFC7F3;
$blb: #272727;
$grm1: #BEBEBE;

$global-width: 1440px;
$side-indent: 32px;
$main-width: $global-width - $side-indent;

$global-width-tablet: 768px;
$side-indent-tablet: 32px;
$main-width-tablet: $global-width-tablet - $side-indent-tablet;

$global-width-mobile: 375px;
$side-indent-mobile: 16px;
$main-width-mobile: $global-width-mobile - $side-indent-mobile;